:root {
    --card-color: #E8E7E7;
}

#register-button {
    margin-left: 175px;
}

.button-transition {
    transition: height 0.5s cubic-bezier(0.23, 1, 0.32, 1),
                width 0.5s cubic-bezier(0.23, 1, 0.32, 1),
                font-size 0.5s cubic-bezier(0.23, 1, 0.32, 1),
                box-shadow 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.button-unregistered {
    width: 150px;
    background-color: var(--bg-color1);
}

.button-unregistered:hover {
    box-shadow: 0 0 30px 5px var(--bg-color1);
    width: 170px;
    height: 75px;
    font-size: 35px;
}

.button-registered {
    width: 180px;
    background-color: red;
}

.button-registered:hover {
    box-shadow: 0 0 30px 5px red;
    width: 200px;
    height: 75px;
    font-size: 35px;
}

#logout-button {
    background-color: red;
    width: 150px;
}

#logout-button:hover {
    box-shadow: 0 0 30px 5px red;
    width: 175px;
    height: 75px;
    font-size: 35px;
}

.user-card-container {
    padding: 30px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.user-card-pfp {
    height: 100%;
    border-radius: 100%;
    position: relative;
    z-index: 2;
}

.user-card-info {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    border-radius: 215px;
    position: relative;
    margin-left: -200px;
    padding-left: 225px;
    z-index: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat
}

#user-card-username {
    font-weight: 800;
    font-style: italic;
    font-size: 45px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.user-card-team {
    height: 100%;
    flex-grow: 1;
    border-radius: 215px;
    margin-left: -200px;
    background-color: #CACACA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-container {
    display: flex;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
}

.stats-box {
    height: 100%;
    width: 230px;
    min-width: 230px;
    background-color: var(--card-color);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    transition: all 0.5s ease-out;
}

.stats-buttons-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matches-box {
    height: 100%;
    flex-grow: 1;
    background-color: var(--card-color);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    transition: all 0.5s ease-out;
}

@media (max-width: 750px) {
    .bottom-container {
        flex-direction: column;
    }

    .stats-box {
        width: 100%;
    }

    .stats-buttons-container {
        margin-bottom: 20px;
    }

    .matches-box {
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }
}

.box-header-text {
    font-size: 26px;
    font-weight: 500;
    padding-top: 20px;
}

.matches-container {
    width: 90%;
    height: calc(100% - 10px);
    max-height: 400px;
    padding-top: 15px;
    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.match-container {
    width: calc(100% - 20px);
    height: 80px;
    padding: 0 15px;

    box-shadow: 1px 6px 11px -3px rgba(0, 0, 0, 0.25);
    border: 1px solid black;
    border-radius: 13px;

    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-auto-columns: 1fr;
    justify-items: stretch;
    align-items: center;
}

#match-result-text {
    font-style: italic;
    font-weight: 700;
    font-size: clamp(30px, 2.5vw, 40px);
}

.match-information-container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 15% 30% 10% 30% 15%;
}

.match-information-container p {
    font-size: clamp(20px, 2vw, 35px);
}

.match-information-pfp {
    height: 40px;
    border-radius: 100%;
}

#team-1-name {
    margin-block: auto;
}

#score {
    margin-block: auto;
    text-align: center;
}

#team-2-name {
    margin-block: auto;
    text-align: right;
}
