#fade-in-element {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.homepage-video {
    margin-top: -4px;
}

#video-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-container video {
    width: 100%;
}

.video-overlay {
    position: absolute;
    top: 30px;
    left: auto;
    width: 660px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-overlay img {
    width: 660px;
}