@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
    --bg-color1: #438efd;
    --bg-color2: #e866a0;
    --bg-color3: #52a1ff;
    --bg-color4: #e7e7e7;
    --bg-color5: #454343;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding-bottom: 50px;
}

p {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

footer {
    background-color: var(--bg-color1);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

button {
    font-family: 'Inter', sans-serif;
}

.footer-block {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.footer-text {
    color: white;
}

.footer-image {
    height: 23px;
    transition: filter 0.3s ease;
    padding-bottom: 10px;
    filter: brightness(0) invert(1);
}

.footer-image:hover {
    filter: brightness(1) invert(0);
}

.footer {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.footer-link {
    color: inherit;
    text-decoration: none;
}


.flex-container {
    display: flex;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.text-stroke {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

td {
    padding: 0;
}

.header {
    background-color: var(--bg-color1);
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
}


.header-block {
    width: 20%;
    height: 100%;
}

.header-text {
    text-align: center;
    color: inherit;
    font-size: 29px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-top: 30px;
    transition: all 0.3s ease;
}


.header-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 65px;
    color: inherit;
    margin: 0;
    margin-left: 15px;
    transition: all 0.3s ease;
    
}

@media (max-width: 650px) {
    .header-block {
        width: 7%;
    }

    .header-text {
        font-size: 20px;
    }

    .header-title {
        font-size: 45px;
        margin-top: 10px;
    }
}

.header-title:hover {
    color: #454343;
}

.empty-header-block {
    width: 20%;
    height: 100%;
}

.header-link-container {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    color: white;
}

.header-link-container:hover {
    color: #454343;
}

.header-link {
    text-decoration: none;
}

.login-box {
    width: 100%;
    height: 50px;
    background-color: var(--bg-color2);
    border-radius: 50px;
    color: white;
}

.user-box {
    width: 100%;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 50px;
    color: black;
}

.login-text {
    width: 100%;
    height: 100%;
    margin-top: 25px;
    text-align: center;
    white-space: nowrap;
}

.osu-logo {
    height: 100%;
    border-radius: 100%;
    margin-top: -2px;
    margin-left: -4px;
}

.shadow {
    box-shadow: 0 0 30px 5px var(--bg-color2);
    -moz-box-shadow: 0 0 30px 5px var(--bg-color2);
    -webkit-box-shadow: 0 0 30px 5px var(--bg-color2);
}

.drill-image {
    width: 180px;
    height: 180px;
    margin-right: 50px;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}
