@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf');

    font-style: normal;
}

/* icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

:root {
    /* why are these all called bg color */
    --bg-color1: #438efd;
    --bg-color2: #e866a0;
    --bg-color3: #52a1ff;
    --bg-color4: #e7e7e7;
    --bg-color5: #454343;
    --bg-color6: #d7d7d7;
    --bg-color7: #d0d0d0;
}

/* element properties */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding-bottom: 50px;
}

p {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

footer {
    background-color: var(--bg-color1);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

button {
    background-color: grey;
    height: 60px;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 6px 11px -3px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
}

button:hover {
    cursor: pointer;
}

td {
    padding: 0;
}

hr {
    height: 3px;

    border: none;
    border-radius: 3px;
    background-color: #000000;
}

/* Footer */

.footer-block {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.footer-text {
    color: white;
}

.footer-image {
    height: 23px;
    transition: filter 0.3s ease;
    padding-bottom: 10px;
    filter: brightness(0) invert(1);
}

.footer-image:hover {
    filter: brightness(1) invert(0);
}

.footer {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.footer-link {
    color: inherit;
    text-decoration: none;
}

/* misc */

.flex-container {
    display: flex;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.text-stroke {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.shadow {
    box-shadow: 0 0 30px 5px var(--bg-color2);
    -moz-box-shadow: 0 0 30px 5px var(--bg-color2);
    -webkit-box-shadow: 0 0 30px 5px var(--bg-color2);
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.link:hover {
    color: #b0b0b0;
}

/* header */

.header {
    width: calc(100% - 30px);
    height: 100px;

    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;

    z-index: 9;
    background-color: var(--bg-color1);
    text-decoration: none;
    text-align: center;
}

.header-link-container {
    width: 150px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.header-link-container:hover {
    color: #454343;
}

.header-text {
    color: inherit;
    font-size: 29px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
}

.header-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 65px;
    color: inherit;
}

.header-title:hover {
    color: #454343;
}

.login-box {
    width: 150px;
    height: 50px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    background-color: var(--bg-color2);
    color: white;
}

.user-box {
    background-color: #D9D9D9;
    color: black;
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
}

.login-text {
    width: calc(100% - 5px);
    padding-right: 5px;

    text-align: center;
    white-space: nowrap;
}

.login-pic {
    height: 100%;
    border-radius: 100%;
}

/* Mobile header */

.mobile-header-container {
    width: 100%;
    position: relative;
    z-index: 9;
}

#mobile-header {
    display: none;
    justify-content: space-between;
    position: relative;

    cursor: pointer;
}

.mobile-header-arrow {
    width: 60px;
    height: 60px;
}

.header-dropdown {
    width: 100%;

    display: none; /* will be changed to flex */
    flex-direction: column;

    background-color: var(--bg-color4);
}

.header-dropdown-item {
    height: 40px;
    padding: 10px 0;
    padding-left: 20px;
}

.header-dropdown-item:hover {
    background-color: var(--bg-color6);
    text-decoration: underline;
}

.dropdown-user-container {
    height: 50px;
    padding: 10px 0;
    padding-left: 5px;

    background-color: var(--bg-color7);
}

/* Change header displayed */
@media (max-width: 900px) {
    .header {
        display: none;
    }

    #mobile-header {
        display: flex;
    }
}

/* Popup */

#popup-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    z-index: 10;
}

#popup {
    width: 400px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 30vh;
    padding: 10px;

    background-color: white;
    border-radius: 15px;
    z-index: 11;
    text-align: center;
}

#popup-title {
    font-size: 20px;
    margin: 10px 0;
}

.popup-button {
    margin: 0 5px;

}
