.mappools-beatmap-table {
    width: 80%;
    height: 100%;
    margin: auto;
    border-spacing: 10px;
}

.beatmap-mod {
    width: 100px;
    height: 100%;
}

.beatmap-mod-text {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-style: italic;
    color: white;
    padding-top: 20px;
}

.beatmap-image {
    border-radius: 20px;
    height: 100%;
    z-index: 3;
    position: relative;
}

.beatmap-container {
    /* background-image: linear-gradient(to right, var(--bg-color3), #6862DD); */
    border-radius: 18px;
    height: 75px;
    z-index: 1;
    position: relative;
}

.beatmap-info {
    background-color: var(--bg-color4);
    width: calc(100% - 500px);
    height: 100%;
    border-radius: 18px;
    margin-left: -30px;
    padding-left: 45px;
    z-index: 2;
    position: relative;
}

.beatmap-metadata {
    font-weight: 500;
    font-size: 18px;
    height: 60%;
    width: 100%;
    padding-top: 5px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.beatmap-difficulty {
    font-weight: 300;
    font-size: 12px;
    height: calc(40% - 5px);
    width: 100%;
}

.difficulty-bar-outside {
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    outline: 1.5px solid #c5c5c5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.difficulty-bar-inside {
    height: 100%;
    border-radius: inherit;
    background-color: #6862DD;
}

.bar-text {
    font-size: 8px;
    font-weight: 700;
    margin-top: -10px;
    margin-left: 5px;
    text-align: left;
    color: white;
}

.star-rating-container {
    width: 100px;
    height: 100%;
    text-align: center;
}

.star-rating-text {
    font-size: 30px;
    font-weight: 800;
    color: white;
    padding-top: 15px;
    padding-left: 8px;
}