@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
    --bg-color1: #438efd;
    --bg-color2: #e866a0;
    --bg-color3: #52a1ff;
    --bg-color4: #e7e7e7;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding-bottom: 50px;
}

p {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

footer {
    background-color: #454343;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

.footer-block {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.footer-text {
    transition: color 0.3s ease;
}

.footer-text:hover {
    color: white;
}

.footer-image {
    height: 23px;
    transition: filter 0.3s ease;
    padding-bottom: 10px;
}

.footer-image:hover {
    filter: brightness(0) invert(1);
}

.footer {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.footer-link {
    color: inherit;
    text-decoration: none;
}


.flex-container {
    display: flex;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.text-stroke {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.header {
    background-color: var(--bg-color1);
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
}

.header-block {
    width: 20%;
    height: 100%;
}

.header-text {
    text-align: center;
    color: white;
    font-size: 29px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-top: 30px;
    transition: color 0.3s ease;
}

.header-text:hover {
    color: #454343;
}

.header-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 65px;
    color: white;
    margin: 0;
    margin-left: 15px;
    transition: color 0.3s ease;

}

.header-title:hover {
    color: #454343;
}

.empty-header-block {
    width: 20%;
    height: 100%;
}

.header-link-container {
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.header-link {
    text-decoration: none;
}

.login-box {
    width: 150px;
    height: 50px;
    background-color: var(--bg-color2);
    border-radius: 50px;
}

.osu-logo {
    height: 100%;
    border-radius: 100%;
    margin-top: -2px;
    margin-left: -4px;
}

.shadow {
    box-shadow: 0 0 30px 5px var(--bg-color2);
    -moz-box-shadow: 0 0 30px 5px var(--bg-color2);
    -webkit-box-shadow: 0 0 30px 5px var(--bg-color2);
}

.banner {
    height: 150px;
    cell-spacing: 20px;
}

.banner-image {
    width: 10%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.banner-title {
    width: 60%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.banner-text {
    font-size: 30px;
    font-weight: 500;
}

.banner-stage-block {
    width: 30%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.drill-image {
    width: 180px;
    height: 180px;
    margin-right: 50px;
}

.mappools-beatmap-table {
    width: 80%;
    height: 100%;
    margin: auto;
    border-spacing: 10px;
}

.beatmap-mod {
    width: 100px;
    height: 100%;
}

.beatmap-mod-text {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-style: italic;
    color: white;
    padding-top: 20px;
}

.beatmap-image {
    border-radius: 20px;
    height: 100%;
    z-index: 3;
    position: relative;
}

.beatmap-container {
    /* background-image: linear-gradient(to right, var(--bg-color3), #6862DD); */
    border-radius: 18px;
    height: 75px;
    z-index: 1;
    position: relative;
}

.beatmap-info {
    background-color: var(--bg-color4);
    width: calc(100% - 500px);
    height: 100%;
    border-radius: 18px;
    margin-left: -30px;
    padding-left: 45px;
    z-index: 2;
    position: relative;
}

.beatmap-metadata {
    font-weight: 500;
    font-size: 18px;
    height: 60%;
    width: 100%;
    padding-top: 5px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.beatmap-difficulty {
    font-weight: 300;
    font-size: 12px;
    height: calc(40% - 5px);
    width: 100%;
}

.difficulty-bar-outside {
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    outline: 1.5px solid #c5c5c5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.difficulty-bar-inside {
    height: 100%;
    border-radius: inherit;
    background-color: #6862DD;
}

.bar-text {
    font-size: 8px;
    font-weight: 700;
    margin-top: -10px;
    margin-left: 5px;
    text-align: left;
    color: white;
}

.star-rating-container {
    width: 100px;
    height: 100%;
    text-align: center;
}

.star-rating-text {
    font-size: 30px;
    font-weight: 800;
    color: white;
    padding-top: 15px;
    padding-left: 8px;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}

#fade-in-element {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.homepage-video {
    margin-top: -4px;
}

#video-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-container video {
    width: 100%;
}

.video-overlay {
    position: absolute;
    top: 30px;
    left: auto;
    width: 660px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-overlay img {
    width: 660px;
}