.tournaments-container {
    width: 90%;
    margin: auto;
    margin-top: 150px;
}

.tournament {
    width: 200px;
    margin: 5px;
    display: inline-block;
}

.tournament-thumbnail {
    width: 100%;
    border-radius: 15px;
}

.tournament-label-container {
    width: 100%;
}
