.matches-container {
    width: 95%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.match {
    width: calc(100% - 20px);
    border-radius: 15px;
    padding: 5px 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bg-color6);
}

.match-heading {
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
}

.match-heading.title {
    width: 180px;
}

.horizontal-container {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.match-info {
    font-size: 15px;
}

#top-container {
    height: 30px;
}
