{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% block head %}{% endblock head %}

    <meta charset="UTF-8">
    <meta name="description" content="Website for Offline Chat Tournament">
    <meta name="keywords" content="sheppsu, offlinechatbot">
    <meta name="author" content="sheppsu & hrfarmer">
    <meta name="viewport" content="width=device-width">

    <title>OCT - {% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="header prevent-select">
        <a class="header-link" href="{% url 'index' %}"><div class="header-link-container">
            <h1 class="header-title">OCT</h1>
        </div></a>
        <a class="header-link" href="{% url 'tournament_info' name='OCT5' %}"><div class="header-link-container">
            <p class="header-text">OCT5</p>
        </div></a>
        <a class="header-link" href="{% url 'mappools' %}"><div class="header-link-container">
            <p class="header-text">Mappools</p>
        </div></a>
        <a class="header-link" href="{% url 'bracket' %}"><div class="header-link-container">
            <p class="header-text">Bracket</p>
        </div></a>
        <div style="flex: 1;"></div>
        {% include 'user.html' %}
    </div>
    <div class="mobile-header-container">
        <div id="mobile-header" class="header">
            <a class="header-link" href="{% url 'index' %}"><div class="header-link-container">
                <h1 class="header-title">OCT</h1>
            </div></a>
            <svg id="header-arrow-down" viewBox="0 0 1 1" class="mobile-header-arrow">
                <polyline points="0.1,0.3 0.5,0.7 0.9,0.3 " style="fill:none;stroke:black;stroke-width:0.1;"/>
            </svg>
            <svg id="header-arrow-up" viewBox="0 0 1 1" class="mobile-header-arrow" style="display:none;">
                <polyline points="0.1,0.7 0.5,0.3 0.9,0.7 " style="fill:none;stroke:black;stroke-width:0.1;"/>
            </svg>
        </div>
        <div id="mobile-header-dropdown" class="header-dropdown">
            <div class="dropdown-user-container">
                {% include 'user.html' %}
            </div>
            <a class="header-link" href="{% url 'tournament_info' name='OCT5' %}"><div class="header-dropdown-item">
                <p class="dropdown header-text">OCT5</p>
            </div></a>
            <a class="header-link" href="{% url 'mappools' %}"><div class="header-dropdown-item">
                <p class="dropdown header-text">Mappools</p>
            </div></a>
            <a class="header-link" href="{% url 'bracket' %}"><div class="header-dropdown-item">
                <p class="dropdown header-text">Bracket</p>
            </div></a>
        </div>
    </div>
    {% block body %}{% endblock body %}
    <div id="popup-background" hidden></div>
    <div id="popup" hidden>
        <h1 id="popup-title"></h1>
    </div>
    <footer>
        <div class="footer">
            <div class="footer-block">
                <a class="footer-link" href="https://discord.gg/tuE84PX9mx" target="_blank">
                    <img class="footer-image prevent-select" src="{% static 'assets/images/discord-logo.png' %}" alt="">
                </a>
            </div>
            <div class="footer-block">
                <a class="footer-link" href="https://twitch.tv/offlinechattournament" target="_blank">
                    <img class="footer-image prevent-select" src="{% static 'assets/images/twitch-logo.png' %}" alt="">
                </a>
            </div>
            <div class="footer-block">
                <a class="footer-link" href="https://www.youtube.com/@offlinechattournament" target="_blank">
                    <img class="footer-image prevent-select" src="{% static 'assets/images/youtube-logo.png' %}" alt="">
                </a>
            </div>
            <div class="footer-block">
                <p class="footer-text prevent-select">developed by sheppsu & aychar</p>
            </div>
        </div>
    </footer>
    <script type="module">
        import { activateBackground, disableBackground } from "{% static 'js/util.js' %}"

        const mobileHeader = document.getElementById("mobile-header");
        const mobileDropdown = document.getElementById("mobile-header-dropdown");
        const downArrow = document.getElementById("header-arrow-down");
        const upArrow = document.getElementById("header-arrow-up");

        function enableDropdown() {
            downArrow.style.display = "none";
            upArrow.style.display = "inherit";
            mobileDropdown.style.display = "flex";
            activateBackground(8);
        }

        function disableDropdown() {
            downArrow.style.display = "inherit";
            upArrow.style.display = "none";
            mobileDropdown.style.display = "none";
            disableBackground();
        }

        mobileHeader.addEventListener("click", (event) => {
            ((downArrow.style.display === "none") ? disableDropdown : enableDropdown)()
        });
        document.body.addEventListener("click", (event) => {
            if (downArrow.style.display !== "none") {return;}
            setTimeout(function() {
                if (downArrow.style.display === "none") {disableDropdown();}
            }, 100);
        }, true);
    </script>
</body>

</html>