{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block head %}{% endblock head %}

    <meta charset="UTF-8">
    <meta name="description" content="Website for Offline Chat Tournament">
    <meta name="keywords" content="sheppsu, offlinechatbot">
    <meta name="author" content="sheppsu & hrfarmer">
    <meta name="viewport" content="width=device-width">

    <title>OCT - {% block title %}{% endblock title %}</title>
</head>

<body style="margin: 0px;">
    <table class="header">
        <tr>
            <td>
                <a class="header-link prevent-select" href="{% url 'index' %}"><div class="header-link-container">
                    <h1 class="header-title">OCT</h1>
                </div></a>
            </td>
            <td id="teams" class="header-block prevent-select" style="width: 10%;">
                <a class="header-link" href="{% url 'teams' %}"><div class="header-link-container">
                    <p class="header-text">Teams</p>
                </div></a>
            </td>
            <td id="mappools" class="header-block prevent-select" style="width: 10%;">
                <a class="header-link" href="{% url 'mappools' %}"><div class="header-link-container">
                    <p class="header-text">Mappools</p>
                </div></a>
            </td>
            <td id="bracket" class="header-block prevent-select" style="width: 10%;">
                <a class="header-link" href="{% url 'bracket' %}"><div class="header-link-container">
                    <p class="header-text">Bracket</p>
                </div></a>
            </td>
            <td style="width: 60%;"></td>
            <td class="header-block prevent-select" style="padding-right: 20px;">
                <a href="{% if not is_logged_in %}{{ login_url }}{% else %}{% url 'dashboard' %}{% endif %}">
                    <div class="login-box shadow">
                        <table style="width: 150px; height: 50px;">
                            <tr>
                                <td style="width: 50px; height: 50px;">
                                    {% if is_logged_in %}
                                    <img src="{{ avatar_url }}" alt="avatar" class="osu-logo">
                                    {% else %}
                                    <img src="{% static 'assets/images/osu.png' %}" alt="osu logo" class="osu-logo">
                                    {% endif %}
                                </td>
                                <td>
                                    <div style="width: 100%; height: 100%;">
                                        <p style="color: white; margin-top: 25px;">
                                            {% if is_logged_in %}{{ short_username }}{% else %}Log in{% endif %}
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
            </td>
        </tr>
    </table>
    {% block body %}{% endblock body %}
    <footer>
        <div class="footer">
            <div class="footer-block">
                <a class="footer-link" href="https://discord.gg/tuE84PX9mx" target="_blank">
                    <img class="footer-image prevent-select" src="{% static 'assets/images/discord-logo.png' %}" alt="">
                </a>    
            </div>
            <div class="footer-block">
                <a class="footer-link" href="https://twitch.tv/offlinechattournament" target="_blank">
                    <img class="footer-image prevent-select" src="{% static 'assets/images/twitch-logo.png' %}" alt="">
                </a>
            </div>
            <div class="footer-block">
                <p class="footer-text prevent-select">developed by sheepsu & hrfarmer</p>
            </div>
        </div>
    </footer>
</body>

</html>