{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block head %}{% endblock head %}

    <meta charset="UTF-8">
    <meta name="description" content="Website for Offline Chat Tournament">
    <meta name="keywords" content="sheppsu, offlinechatbot">
    <meta name="author" content="sheppsu & hrfarmer">
    <meta name="viewport" content="width=device-width">

    <title>OCT - {% block title %}{% endblock title %}</title>
</head>

<body>
    <table class="header">
        <tr>
            <td>
                <a class="header-link" href="{% url 'index' %}"><div class="header-link-container">
                    <h1 class="header-title">OCT</h1>
                </div></a>
            </td>
            <td style="width: 5%;"></td>
            <td id="teams" class="header-block">
                <a class="header-link" href="{% url 'teams' %}"><div class="header-link-container">
                    <p class="header-text">Teams</p>
                </div></a>
            </td>
            <td id="mappools" class="header-block">
                <a class="header-link" href="{% url 'mappools' %}"><div class="header-link-container">
                    <p class="header-text">Mappools</p>
                </div></a>
            </td>
            <td id="bracket" class="header-block">
                <a class="header-link" href="{% url 'bracket' %}"><div class="header-link-container">
                    <p class="header-text">Bracket</p>
                </div></a>
            </td>
            <td class="empty-header-block"></td>
            <td class="header-block">
                <div class="login-box shadow">
                    <table>
                        <tr>
                            <td>
                                <img src="{% static 'assets/images/osu.png' %}" alt="osu logo" class="osu-logo">
                            </td>
                            <td style="margin-top: -1px;">
                                <p style="color: white;">Log in</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    {% block body %}{% endblock body %}
</body>

</html>