{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock head %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
<div style="margin-bottom: 100px;">
    <div class="user-card-container">
        <img src="{{ avatar_url }}" alt="" class="user-card-pfp">
        <div class="user-card-info" style="background-image: linear-gradient(to right, #F6F6F6 40%, transparent), url('{{ banner }}');">
            <p id="user-card-username">{{ username }}</p>
            <p>OCT5: {{ roles }}</p>
        </div>
		<div class="user-card-team">
            {% if is_registered %}
            <button id="register-button" class="button-registered button-transition">Unregister</button>
            {% else %}
            <a href="{% url 'register' %}">
                <button id="register-button" class="button-unregistered button-transition">Register</button>
            </a>
            {% endif %}
        </div>
    </div>

    <div class="bottom-container">
        <div class="stats-box">
          <p class="box-header-text">Manage</p>
          <div class="stats-buttons-container">
            <a href="{% url 'logout' %}">
              <button id="logout-button" class="button-transition">Logout</button>
            </a>
          </div>
        </div>
        <div class="matches-box">
            <p class="box-header-text">Matches</p>
			<div class="scroll-container">
				<div class="matches-container">
					{% for match in matches %}
					<div class="match-container prevent-select" style="background: linear-gradient(to right, {{ match.color }} 0%, #F6F6F6 30%, #F6F6F6 100%);">
						{% if match.obj.tournament_round.name == "QUALIFIERS" %}
						<p id="match-result-text">QUALIFIERS</p>
						<p style="text-align: center;">{{ match.obj.time_str }}</p>
						<p style="text-align: right;">Q{{ match.obj.match_id }}</p>
						{% else %}
						<p id="match-result-text">{{ match.result }}</p>
						<div class="match-information-container">
							<img src="{% static 'assets/images/'|add:match.team1.icon %}" alt="" class="match-information-pfp">
							<p id="team-1-name">{{ match.team1.name }}</p>
							{% if match.result == 'UPCOMING' %}<p style="text-align: center; font-size: 20px;">{{ match.obj.time_str }}</p>{% else %}<p id="score">{{ match.score }}</p>{% endif %}
							{% if match.team2 is not None %}
							<p id="team-2-name">{{ match.team2.name }}</p>
							<img src="{% static 'assets/images/'|add:match.team2.icon %}" alt="" class="match-information-pfp">
							{% else %}
							<p id="team-2-name">TBD</p>
							<img alt="" class="match-information-pfp">
							{% endif %}
						</div>
						<p style="text-align: right;">M{{ match.obj.match_id }}</p>
						{% endif %}
					</div>
					{% endfor %}
				</div>
			</div>
        </div>
    </div>
	
	{% if is_registered %}
    <script type="module">
        import { initiatePopup, closePopup } from "{% static 'js/util.js' %}"
        const unregisterButton = document.getElementById("register-button");
        var pressed = false;
        var redirecting = false;

        unregisterButton.addEventListener("click", (event) => {
            if (pressed) {return;}
            pressed = true;
            initiatePopup("Are you sure you want to unregister?", [
                {
                    text: "Yes",
                    color: "green",
                    width: 75,
                    callback: (event) => {
                        if (redirecting) {return;}
                        redirecting = true;
                        window.location.replace("{% url 'unregister' %}");
                    }
                },
                {
                    text: "No",
                    color: "red",
                    width: 75,
                    callback: (event) => {
                        closePopup();
                        pressed = false;
                    }
                }
            ]);
        })
    </script>
    {% endif %}
</div>
{% endblock body %}