{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock head %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
<div style="margin-top: 105px; margin-bottom: 50px;">
    <div class="user-card-container">
        <img src="{{ avatar_url }}" alt="" class="user-card-pfp">
        <div class="user-card-info" style="background-image: linear-gradient(to right, #F6F6F6 40%, transparent), url('{{ banner }}');">
            <p id="user-card-username">Among Us</p>
            <p id="user-card-rank">#11000</p>
        </div>
        <div class="user-card-team">
          <button id="register-button">Register</button>
        </div>
    </div>

    <div class="bottom-container">
        <div class="stats-box">
          <p class="box-header-text">Manage</p>
          <div class="stats-buttons-container">
            <a href="{% url 'logout' %}">
              <button id="logout-button">Logout</button>
            </a>
          </div>
        </div>
        <div class="matches-box">
            <p class="box-header-text">Matches</p>
            <div class="matches-container">
                <div class="match-container prevent-select">
                    <div style="margin-block: auto;">
                        <p id="match-result-text">DEFEAT</p>
                    </div>
                    <div style="margin-block: auto;">
                        <div class="match-information-container">
                            <img src="{{ avatar_url }}" alt¬="" class="match-information-pfp">
                                <p id="team-1-name">Team 1</p>
                                <p id="score">5-7</p>
                                <p id="team-2-name">Team 2</p>
                                <div style="display: flex; justify-content: right; width: 100%; height: 100%;">
                                  <img src="{{ avatar_url }}" alt="" class="match-information-pfp">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="match-container"></div>
                <div class="match-container"></div>
                <div class="match-container"></div>
                <div class="match-container"></div>
                <div class="match-container"></div>
                <div class="match-container"></div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}