{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<div style="padding-top: 100px;"></div>
<div id="video-container">
    <div id="fade-in-element" class="hidden banner-title prevent-select video-overlay">
        <img src="{% static 'assets/images/oct4.png' %}" alt="">    
    </div>
    <video src="{% static 'assets/videos/octbackground.mp4' %}" autoplay muted loop class="homepage-video"></video>
</div>
<div style="margin-left: 75px; margin-right: 75px;">
    <h1 style="text-align: center;">Welcome to OCT</h1>




    <script src="{% static 'js/fade-in-script.js' %}"></script>
</div>
{% endblock body %}
{% block headerid %}home{% endblock headerid %}