{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tournaments.css' %}">
{% endblock head %}
{% block title %}Tournaments{% endblock title %}
{% block body %}
<div class="tournaments-container">
    {% for tournament in tournaments %}
    <a href="{% url 'tournament_info' name=tournament.name %}">
        <div class="tournament">
            {% with 'assets/images/'|add:tournament.thumbnail as thumbnail %}
            <img src="{% static thumbnail %}" class="tournament-thumbnail">
            {% endwith %}
            <div class="tournament-label-container">
                <p>{{ tournament.full_name }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock body %}