{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tournament_info.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tournament_matches.css' %}">
{% endblock head %}
{% block title %}Tournaments: {{ tournament.name }} bracket{% endblock title %}
{% block body %}
<div>
{% include "tournament/tournament_info_header.html" %}
    <div class="matches-container">
        {% for match in matches %}
        <div class="match" style="background: linear-gradient(to right, {{ match.color }} 0%, #F6F6F6 30%, #F6F6F6 100%);">
            <p class="match-title">{{ match.result }}</p>
            <div>
                <div id="top-container" class="horizontal-container">
                    <p class="match-info"><b>{{ match.obj.time_str }}</b></p>
                </div>
                <div id="bottom-container" class="horizontal-container">
                    <p class="match-info">Referee: {% if match.referee is not None %}{{ match.referee.username }}{% else %}N/A{% endif %}</p>
                    <p class="match-info">Streamer: {% if match.referee is not None %}{{ match.streamer.username }}{% else %}N/A{% endif %}</p>
                    <p class="match-info">Commentator 1: {% if match.referee is not None %}{{ match.commentator1.username }}{% else %}N/A{% endif %}</p>
                    <p class="match-info">Commentator 2: {% if match.referee is not None %}{{ match.commentator2.username }}{% else %}N/A{% endif %}</p>
                </div>
            </div>
            <p class="match-title">{% if match.obj.tournament_round.name == 'QUALIFIERS' %}Q{% else %}M{% endif %}{{ match.obj.match_id }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<script>document.getElementById("matches-header").classList.add("current-tournament-header");</script>
{% endblock body %}