{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tournament_info.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mappools.css' %}">
{% endblock head %}
{% block title %}Mappools{% endblock title %}
{% block body %}
<div style="margin-top: 100px;">
    {% include "tournament/tournament_info_header.html" %}
    <p style="text-align: center;">Note: this is placeholder information, not actual pools of OCT4</p>
    {% for round in mappools %}
        <h1 style="text-align: center;">{{ round.stage }}</h1>
        <table class="mappools-beatmap-table">
            {% for map in round.maps %}
                <tr>
                    <td>
                        <a href="https://osu.ppy.sh/b/{{ map.beatmap_id }}" target="_blank">
                            <div id="{{ round.stage }}-{{ map.modification }}-beatmap" class="flex-container beatmap-container prevent-select" style="background-image: linear-gradient(to right, {{ map.color }}, #AAAAAA);">
                                <div class="beatmap-mod">
                                    <p class="beatmap-mod-text">{{ map.modification }}</p>
                                </div>
                                <div>
                                    <img class="beatmap-image" src="{{ map.cover }}" alt="">
                                </div>
                                <div class="beatmap-info" style="display: flex;">
                                    <div style="width: calc(100% - 150px);">
                                        <div class="beatmap-metadata">
                                            <p>{{ map.artist }} - {{ map.title }}</p>
                                        </div>
                                        <div class="beatmap-difficulty">
                                            <p>[{{ map.difficulty }}]</p>
                                        </div>
                                    </div>
                                    <div style="width: 150px;">
                                        <table style="width: 100%; height: 100%;">
                                            <tr>
                                                <td style="width: 50%; height: 50%;">
                                                    <div id="cs" class="difficulty-bar-outside">
                                                        <div class="difficulty-bar-inside" style="width: {{ map.cs_percent }}"></div>
                                                        <p class="bar-text text-stroke">CS: {{ map.circle_size }}</p>
                                                    </div>
                                                </td>
                                                <td style="width: 50%; height: 50%;">
                                                    <div id="hp" class="difficulty-bar-outside">
                                                        <div class="difficulty-bar-inside" style="width: {{ map.hp_percent }}"></div>
                                                        <p class="bar-text text-stroke">HP: {{ map.health_drain }}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%; height: 40%;">
                                                    <div id="od" class="difficulty-bar-outside">
                                                        <div class="difficulty-bar-inside" style="width: {{ map.od_percent }}"></div>
                                                        <p class="bar-text text-stroke">OD: {{ map.rounded_od }}</p>
                                                    </div>
                                                </td>
                                                <td style="width: 50%; height: 50%;">
                                                    <div id="ar" class="difficulty-bar-outside">
                                                        <div class="difficulty-bar-inside" style="width: {{ map.ar_percent }}"></div>
                                                        <p class="bar-text text-stroke">AR: {{ map.rounded_ar }}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="star-rating-container">
                                    <p class="star-rating-text">⭐{{ map.rounded_sr }}</p>
                                </div>
                            </div>
                        </a>
                    </td>
                </tr>
            <script type="module">
                import { getDiffColor } from "{% static 'js/util.js' %}"
                document.getElementById("{{ round.stage }}-{{ map.modification }}-beatmap").style.backgroundImage = "linear-gradient(to right, {{ map.color }}, "+getDiffColor({{ map.star_rating }})+")";
            </script>
            {% endfor %}
        </table>
    {% endfor %}
</div>
<script>document.getElementById("mappool-cell").classList.add("current-tournament-header");</script>
{% endblock body %}