{% load static %}
<table class="tournament-header prevent-select">
    <tr>
        <td id="info-cell" class="tournament-header-item">
            <a href="{% url 'tournament_info' name=tournament.name %}">
                <div class="tournament-header-link">
                    <p class="tournament-header-text">INFO</p>
                </div>
            </a>
        </td>
        <td id="mappool-cell" class="tournament-header-item">
            <a href="{% url 'tournament_section' name=tournament.name section='mappool' %}">
                <div class="tournament-header-link">
                    <p class="tournament-header-text">MAPPOOL</p>
                </div>
            </a>
        </td>
        <td id="teams-cell" class="tournament-header-item">
            <a href="{% url 'tournament_section' name=tournament.name section='teams' %}">
                <div class="tournament-header-link">
                    <p class="tournament-header-text">TEAMS</p>
                </div>
            </a>
        </td>
        <td id="bracket-cell" class="tournament-header-item">
            <a href="{% url 'tournament_section' name=tournament.name section='bracket' %}">
                <div class="tournament-header-link">
                    <p class="tournament-header-text">BRACKET</p>
                </div>
            </a>
        </td>
        <td id="users-cell" class="tournament-header-item">
            <a href="{% url 'tournament_section' name=tournament.name section='users' %}">
                <div class="tournament-header-link">
                    <p class="tournament-header-text">USERS</p>
                </div>
            </a>
        </td>
        <td></td>
    </tr>
</table>
<div class="mobile-tournament-header-container prevent-select">
    <div id="mobile-tournament-header" class="tournament-header-link">
        <p class="tournament-header-text">Tournament Info</p>
        <svg id="tournament-header-arrow-down" viewBox="0 0 1 1" class="mobile-tournament-header-arrow">
            <polyline points="0.1,0.3 0.5,0.7 0.9,0.3 " style="fill:none;stroke:black;stroke-width:0.1;"/>
        </svg>
        <svg id="tournament-header-arrow-up" viewBox="0 0 1 1" class="mobile-tournament-header-arrow" style="display:none;">
            <polyline points="0.1,0.7 0.5,0.3 0.9,0.7 " style="fill:none;stroke:black;stroke-width:0.1;"/>
        </svg>
    </div>
    <div id="mobile-tournament-header-dropdown" class="header-dropdown">
        <a href="{% url 'tournament_info' name=tournament.name %}">
            <div class="mobile-header-dropdown-item">
                <p class="mobile-header-dropdown-text">INFO</p>
            </div>
        </a>
        <a href="{% url 'tournament_section' name=tournament.name section='mappool' %}">
            <div class="mobile-header-dropdown-item">
                <p class="mobile-header-dropdown-text">MAPPOOL</p>
            </div>
        </a>
        <a href="{% url 'tournament_section' name=tournament.name section='teams' %}">
            <div class="mobile-header-dropdown-item">
                <p class="mobile-header-dropdown-text">TEAMS</p>
            </div>
        </a>
        <a href="{% url 'tournament_section' name=tournament.name section='bracket' %}">
            <div class="mobile-header-dropdown-item">
                <p class="mobile-header-dropdown-text">BRACKET</p>
            </div>
        </a>
        <a href="{% url 'tournament_section' name=tournament.name section='users' %}">
            <div class="mobile-header-dropdown-item">
                <p class="mobile-header-dropdown-text">USERS</p>
            </div>
        </a>
    </div>
</div>
<script type="module">
    import { activateBackground, disableBackground } from "{% static 'js/util.js' %}"

    const mobileHeader = document.getElementById("mobile-tournament-header");
    const mobileDropdown = document.getElementById("mobile-tournament-header-dropdown");
    const downArrow = document.getElementById("tournament-header-arrow-down");
    const upArrow = document.getElementById("tournament-header-arrow-up");

    function enableDropdown() {
        downArrow.style.display = "none";
        upArrow.style.display = "inherit";
        mobileDropdown.style.display = "flex";
        // activateBackground(7);
    }

    function disableDropdown() {
        downArrow.style.display = "inherit";
        upArrow.style.display = "none";
        mobileDropdown.style.display = "none";
        // disableBackground();
    }

    mobileHeader.addEventListener("click", (event) => {
        ((downArrow.style.display === "none") ? disableDropdown : enableDropdown)()
    });
    document.body.addEventListener("click", (event) => {
        if (downArrow.style.display !== "none") {return;}
        setTimeout(function() {
            if (downArrow.style.display === "none") {disableDropdown();}
        }, 100);
    }, true);
</script>