{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tournament_info.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tournament_matches.css' %}">
{% endblock head %}
{% block title %}Tournaments: {{ tournament.name }} matches{% endblock title %}
{% block body %}
<div>
{% include "tournament/tournament_info_header.html" %}
    <div class="matches-container">
        {% for match in matches %}
        <a style="width: 100%;" href="/tournaments/{{ tournament.name }}/matches/{{ match.id }}">
			<div class="match" style="background: linear-gradient(to right, {{ match.color }} 0%, #F6F6F6 30%, #F6F6F6 100%);">
				<p class="match-heading title">{{ match.result }}</p>
				<div>
					<div id="top-container" class="horizontal-container">
						<p class="match-info"><b>{{ match.obj.time_str }}</b></p>
					</div>

					<div id="bottom-container" class="horizontal-container">
						<p class="match-info">{% if match.result != "QUALIFIERS" %}{{ match.team1 }} vs {{ match.team2 }}{% else %}Signups: {{ match.team_names }}{% endif %}</p>
					</div>

				</div>
				<p class="match-heading">{{ match.id }}</p>
			</div>
		</a>
        {% endfor %}
    </div>
</div>
<script>document.getElementById("matches-header").classList.add("current-tournament-header");</script>
{% endblock body %}