django==4.2.2
asgiref==3.6.0
gunicorn==20.1.0
psycopg2==2.9.5
sqlparse==0.4.3
whitenoise==6.4.0
python-dotenv==1.0.0
requests==2.28.0
pymongo==4.3.3
osu.py==1.0.0
djangorestframework==3.14.0
sentry-sdk==1.28.1
django-debug-toolbar==4.2.0